.container {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "scroller title_container picture";
  grid-template-columns: 2fr 5fr 5fr;
  justify-content: center;
  align-items: center;
}

.scroller {
  grid-area: scroller;
}

.title_container {
  grid-area: title_container;
  padding-left: 2em;
}


.picture {
  grid-area: picture;
  width: 15em;
  margin: 0 auto;
  margin-bottom: 2em;
}

.profile {
  width: fit-content;
}

.greetings {
  font-size: 3em;
  font-weight: 500;
}

.contact_button{
  background-color: white;
  color: #00264B;
  border-radius: 0.2em;
  border-style: none;
  height: 3em;
  width: 8.5em;
  margin-left: 2em;
  margin-top: 1em;
}

.contact_button *{
  background-color: white;
  font-size: 0.7rem;
  font-weight: 500;
}