.container {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "scroller text contents .";
    grid-template-columns: 2fr 3fr 3.5fr 1.5fr;
    
}

.text {
    grid-area: text;
}

.title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 0.25em;
}

.skills_container {
    width: fit-content;
    height: 19em;
    overflow-y: scroll;
}

.skills {
    font-size: 1.75rem;
    font-weight: 500;
    overflow: scroll;
}

.skills * {
    padding-left: 1em;
}

.level {
    padding-left: 2em;
    padding-right: 1em;
}

.level * {
    color: white;
    fill: white;
}

.skills_container::-webkit-scrollbar {
    width: 0.75vw;
}

.skills_container::-webkit-scrollbar-thumb {
    background-color: #68BBE3;
    border-radius: 1em;
}

.contents {
    grid-area: contents;
    margin-top: 6rem;
}

.image {
    margin-left: auto;
    margin-right: auto;
    width: 9em;
    height: 9em;
    position: relative;
}

.description {
    margin: 1rem 2rem;
    text-indent: 2em;
}

.dumb * {
    color: rgba(255, 255, 255, 0.39);
}